.conteiner{
    display: flex;
    width: 100%;
  }
  .navegator{
    height: calc(100vh - 40px);
    min-height: 245px;
    width: 80px;
    background-color: #fd2b2b;
  }
  .navegator ul{
    position: relative;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .navegator ul li{
    width: 100%;
    border: #d42a2a 1px solid;
  }
  .bottomSide_li{
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .navegator ul li:hover{
    background-color: #cf2626;
  }
  .navegator ul li * /*Link*/{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 900;
    color: #fff;
    padding: 5px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .navegator ul li svg{
    width: 100%;
    padding: 5px;
  }
  .APP{
    width: 100%;
    height: calc(100vh - 40px);
    border: 5px solid blue;
  }